.dashboardTopSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: calc(10*4px) calc(22*4px) 0;
}

@media screen and (max-width: 1440px) {
    .dashboardTopSection {
        margin: calc(10*4px) calc(10*4px) 0;
    }
}
@media screen and (max-width: 1280px) {
    .dashboardTopSection {
        margin: calc(10*4px) calc(10*4px) 0;
    }
}