.disabledEventRegisterBtn {
    background-color:black !important;
    color: white;
}

.disabledEventRegisterBtn:hover {
    cursor: default;
    background-color: white !important;
    color: teal !important;
}